# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output

/dist

/tmp

/out-tsc
# Only exists if Bazel was run

/bazel-out

# dependencies

/node_modules

# profiling files

chrome-profiler-events*.json

speed-measure-plugin*.json

# IDEs and editors

/.idea

.project

.classpath

.c9/

.launch
.settings/

.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc

/.sass-cache

/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files

.DS_Store

Thumbs.db


# API
############################
# OS X
############################

/api/.DS_Store
/api/.AppleDouble
/api/.LSOverride
/api/Icon
/api/.Spotlight-V100
/api/.Trashes
/api/._*


############################
# Linux
############################

/api/*~


############################
# Windows
############################

/api/Thumbs.db
/api/ehthumbs.db
/api/Desktop.ini
/api/$RECYCLE.BIN/
/api/*.cab
/api/*.msi
/api/*.msm
/api/*.msp


############################
# Packages
############################

/api/*.7z
/api/*.csv
/api/*.dat
/api/*.dmg
/api/*.gz
/api/*.iso
/api/*.jar
/api/*.rar
/api/*.tar
/api/*.zip
/api/*.com
/api/*.class
/api/*.dll
/api/*.exe
/api/*.o
/api/*.seed
/api/*.so
/api/*.swo
/api/*.swp
/api/*.swn
/api/*.swm
/api/*.out
/api/*.pid


############################
# Logs and databases
############################

#/api/.tmp
/api/*.log
/api/*.sql
/api/*.sqlite
/api/*.sqlite3


############################
# Misc.
############################

/api/*#
/api/ssl
/api/.idea
/api/nbproject
/api/public/uploads/*
/api/!public/uploads/.gitkeep

############################
# Node.js
############################

/api/lib-cov
/api/lcov.info
/api/pids
/api/logs
/api/results
/api/node_modules
/api/.node_history


############################
# Tests
############################

/api/testApp
/api/coverage

############################
# Strapi
############################

/api/.env
/api/license.txt
/api/exports
/api/.cache
/api/build
*yarn.lock